.title2{
    margin:  50px 0;
    text-align: center;
}

.menu{
    margin: 20px 0;
}

.menu-item{
    position: relative;
}

.menu-text{
    width: 30%;
    font-weight: 400;
position: absolute; /* Establece una posición absoluta para el div de superposición de texto */
  top: 50%; /* Coloca el div de superposición de texto en la mitad superior del contenedor */
  left: 20%; /* Coloca el div de superposición de texto en el centro horizontal del contenedor */
  transform: translate(-50%, -50%); /* Centra el div de superposición de texto en el centro exacto del contenedor */
  text-align: center; /* Centra el contenido del div de superposición de texto horizontalmente */
  color: white; /* Cambia el color del texto para que sea visible sobre la imagen */
}

